label {
    font-weight: bold;
    margin-left: 15px;
  }
  
  button {
    margin-left: 20px;
    background-color: #eee;
    border: none;
    padding: 10px 35px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
    margin-bottom: 40px;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  td {
    border: 2px solid #000000;
    text-align: center;
    padding: 20px;
    font-weight: bold;
  }
  
  tr:nth-child(1) {
    background-color: #aa9f9f;
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
  }
  
  div {
    margin-top: 35px;
    text-align: center;
  }
  