<h2>Create Schedule With Name and # of Courses: </h2>

<div>
  <h3>
    <label class="lbl" for="ib1">Name: </label>
    <input #inputBox1 placeholder="Schedule Name" id="ib1" (input)="search(inputBox1.value)"/>

    <label class="lbl" for="ib2">Quantity: </label>
    <input #inputBox2 placeholder="#" id="ib2" type="number" (input)="search(inputBox2.value)"/>

    <label class="lbl" for="ib3">Description </label>
    <input #inputBox3 id="ib3" type="checkbox"/>

    <label class="lbl" for="ib4">Public Visibility</label>
    <input #inputBox4 id="ib4" type="checkbox"/>

    <button *ngIf="inputBox1.value && (inputBox2.value && inputBox2.value > 0)" 
        (click)="add(inputBox1.value, inputBox2.value);"> Create Schedule </button>
  </h3>
</div>

<div *ngIf="(inputBox3.value) && inputBox1.value && (inputBox2.value && (inputBox2.value > 0 && 11 > inputBox2.value))">
  <h4>Schedule Description</h4>
  <textarea #DescriptionBox id="dBox" placeholder="Add a description..."></textarea>
</div>

<label id="tabelLabel" for="table1"  *ngIf="inputBox1.value && (inputBox2.value && (inputBox2.value > 0 && 11 > inputBox2.value))">Add Courses</label>
<table #table id="table1" *ngIf="inputBox1.value && (inputBox2.value && (inputBox2.value > 0 && 11 > inputBox2.value))" >
  <tr>
    <td> # </td>
    <td> Subject Code </td>
    <td> Course Code </td>
  </tr>
  <tr *ngFor="let q of quantity; let rowIndex = index">
    <td> {{q}} </td>
    <td><input #SubjectBox [(ngModel)]="SubjectList[rowIndex]"/></td>
    <td><input #CourseBox [(ngModel)]="CCList[rowIndex]"/></td>
  </tr>
</table>

<div *ngIf="inputBox3.value && inputBox1.value && (inputBox2.value && inputBox2.value > 0  && 11 > inputBox2.value) && !inputBox4.value">
  <button *ngIf="DescriptionBox.value" (click)="addCourses(inputBox1.value, DescriptionBox.value, 'private', inputBox1); inputBox1.value=''; inputBox2.value=''; inputBox3.value=''; inputBox4.value=''"> Save Schedule </button>
</div>

<div *ngIf="!inputBox3.value && inputBox1.value && (inputBox2.value && inputBox2.value > 0  && 11 > inputBox2.value) && !inputBox4.value">
  <button (click)="addCourses(inputBox1.value, 'no description', 'private', inputBox1.value); inputBox1.value=''; inputBox2.value=''; inputBox3.value=''; inputBox4.value=''"> Save Schedule </button>
</div>

<div *ngIf="inputBox3.value && inputBox1.value && (inputBox2.value && inputBox2.value > 0  && 11 > inputBox2.value) && inputBox4.value">
  <button *ngIf="DescriptionBox.value" (click)="addCourses(inputBox1.value, DescriptionBox.value, 'public', inputBox1); inputBox1.value=''; inputBox2.value=''; inputBox3.value=''; inputBox4.value=''"> Save Schedule </button>
</div>

<div *ngIf="!inputBox3.value && inputBox1.value && (inputBox2.value && inputBox2.value > 0  && 11 > inputBox2.value) && inputBox4.value">
  <button (click)="addCourses(inputBox1.value, 'no description', 'public', inputBox1.value); inputBox1.value=''; inputBox2.value=''; inputBox3.value=''; inputBox4.value=''"> Save Schedule </button>
</div>

<div>
  <ul class="search-result">
    <span class="sName" (click)="getAllUserSchedules()"> View Saved Course Lists </span>
    <li *ngFor="let c of allSchedules">
      <span>{{ c.scheduleName }}</span>
    </li>
  </ul>
</div>