  <h1>Log Into Western Timetable</h1>
  <div class="form1">
      <form>
        <div>
            <label for="email"><b>Email</b></label>
            <input #emailField type="text" name="email" placeholder="Enter email" id="emailbox">
        </div>
        <div>
            <label for="password"><b>Password</b></label>
            <input #passwordField type="password" name="password" placeholder="Enter password" id="passwordbox">    
        </div>    
        <div class="loginBtn">
            <button type="submit" (click)="emailSignIn(emailField.value, passwordField.value); getCurrentUserToken();">Login</button>
        </div>
        <div *ngIf="this.emptyEmail == true">
            <a class="alert">Please enter an email</a>
        </div>
        <div *ngIf="this.emptyPassword == true">
            <a class="alert">Please enter a password</a>
        </div>
        <div class="GoogleLogin">
           <a (click)="loginGoogle()" class="Google">Login with Google</a> 
        </div>
        <div class="NAC">
            <a (click)="activateNAC()"><u>Click Here to Create New Account (NAC)</u></a>
        </div>
      </form>
  </div>
      
  <div class="form2" *ngIf="this.indicater == true">
    <h2>Create a New Account</h2>
    <div>
        <label for="userbox"><b>Username</b></label>
        <input type="text" placeholder="Enter username" id="userbox"/>
    </div>
    <div>
        <label for="emailbox"><b>Email</b></label>
        <input type="text" placeholder="Enter email" id="emailbox"/>
    </div>
    <div>
        <label for="passwordbox"><b>Password</b></label>
        <input type="text" placeholder="Enter password" id="passwordbox"/>    
    </div>    
    <div class="CreateAccountBtn">
        <button type="submit">Create Account</button>
    </div>
  </div>

  <div class="backBtn">
    <button (click)="goBack()">go back</button>
  </div>

  